body {
    font-family:quicksand;
    font-size: 20px;
    margin: 0;
    text-align: center;
  }




  /*MENU*/
.main-nav ul { 
  margin: auto;
  width: 100%;
  display: flex;
  list-style: none;
  gap: 15px;
  justify-content: center;
  padding: 20px 0 40px 0;
  height: 35px;
}

.main-nav ul li a {
  font-weight: bold;
  color:black;
  text-decoration: none;
  border: #99ccd8;
  border-radius: 15px 15px 15px 15px;
}


.main-nav ul li a {
  border: none;
  padding: 11px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  transition-duration: 0.2s;
  background-color: #0483aa00;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.main-nav ul li a:hover {
  padding: 13px 28px 13px 28px;
  border-radius: 20px 0 20px 20px 20px;
  transition: 0.5s;
  background-color: #bad8f2;
  color: white;
  transition: 0.5s;
}

/*IMMAGINE PORTFOLIO*/

#PORTFOLIO {
  width: 100%;
  margin: 0%;
  margin-top: 20px;
}

/*CHI SONO*/
#CHISONO {
  padding-top: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container img {
  width: 40%;
  flex-basis: 70%;
  order: 2;
}

.container .chisono {
  padding-left: 20px;
  margin-left: 100px;
  font-size: 1.3vw;
}


/*LAVORI*/
.contenitor {
 display: flex;
 justify-content: center;
}
div.gallery {
  border: 1px solid #cccccc00;
}

div.gallery:hover {
  border: 1px solid #ffffff00;
  }

div.gallery img {
  width: 100%;
  height: auto;
}

div.gallery img:hover {
  transition: 0.5s;
  opacity: 70%;
  }

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px ;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 24.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  display: table;
  clear: both;
}



/*CONTATTAMI*/

* {
  box-sizing:border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #f0dc68;
  border-radius: 15px;
  resize: vertical;
  background-color: rgb(255, 255, 255);
}


input[type=text]:active {
  border: 1px solid #99ccd8;

}


label {
  padding: 15px 15px 15px 15px;
  display: inline-block;
}

input[type=submit] {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 12px 50px;
  margin-bottom: 15px;
  border: none;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
 justify-content: center;
}

input[type=submit]:hover {
  background-color: #ffbb55;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}

.container {
  border-radius: 5px;
  background-color: #f0dc68;
  padding: 20px;
}

.form {
 justify-content: center;
  width: 100%;
  margin-top: 6px;
}

.datiform:after {
  display: table;
  clear: both;
}



/*MOBILE*/
@media  screen and (max-width: 900px) {

  body {
    font-size: 3.4vw;
  }

  /*MENU*/
.main-nav ul { 
  gap: 4px;
}

.main-nav ul li a {
  padding: 11px 20px;
  font-size: 2.6vw;
}

.main-nav ul li a:hover {
  padding: 13px 24px 13px 24px;
}

  /*CHI SONO*/
#CHISONO {
  padding: 0 0 3px 0;
}

.container {
  flex-wrap: wrap;
}
.container img {
  width: 54%;
  flex-basis: 70%;
  order: 1;
}

.container .chisono {
  padding: 10px 15px 10px 15px;
  margin: 15px 15px 0 15px;
  font-size: 3.1vw;
  flex-wrap: wrap;
  order: 2;
}

  /*LAVORI*/

  #LAVORI {
    padding-top: 8px;
  }
  .contenitor {
    display: list-item;
  }
  .responsive {
    padding: 0 20% 0 20%;
  width: 100%;
  }

}

/*TAROCCHI*/
* {
  box-sizing: border-box;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 730px;
}

.row > .column {
  padding: 6px;
 
}

.row:after {
  display: table;
  clear: both;
}

.column {
 display: flex;
 justify-content: center;
  width: 15%;
  flex-wrap: wrap;
  align-content: flex-start;
}

.slide {
  display: flex;
  justify-content: center;
}

/* MODALITA SELEZIONE SFONDO*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(205, 131, 74, 0.714);
}

/* MODALITA SELEZIONE */
.modal-content {
  position: relative;
  background-color: #ffffff00;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #da8121;
  text-decoration: none;
  cursor: pointer;
}

.show {
  display: flex;
  justify-content: center;
}
.mySlides {
  width: 35%;
}


.cursor {
  cursor: pointer;
}

/* FRECCE AVANTI E INDIETRO*/

.prev, .next {
  color: antiquewhite;
  padding-top: 30px;
  cursor: pointer;
  position:relative;
  background-color: #99ccd800;
}

#frecce {
  background-color: #f0dc6800;
  padding-top: 30px;
}


.prev:hover {
  cursor: pointer;
}
.next:hover {
  cursor: pointer;
}


img {
  margin-bottom: -4px;
}


.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.caption-container {
  background-color: #da812100;
  padding: 0px;
}

@media screen and (max-width: 850px) {

  .column {
    width: 30%;}

.row > .column {
  padding: 5px;
  
}
}
  
